@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/islands">Islands</a>
    <br />
    <a href="/bays">Bays</a>
    <br />
    <a href="/rivers">Rivers</a>
    <br />
    <a href="/animals">Animals</a>
    <br />
    <a href="/towns">Towns</a>
    <br />
    <a href="/international">International</a>
    <br />
    <a href="/beaches">Beaches</a>
    <br />
    <a href="/lakes">Lakes</a>
    <br />
    <a href="/other">Other</a>
    <br />
    <a href="/search">Search</a>
</div>
